.experience-list-item.item {
	padding-top: 30px;
}

.experience-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
}

.experience-company {
	text-align: center;
	font-weight: bold;
	font-size: 0.75em;
	margin-bottom: 40px;
}

.experience-list-item .experience-period {
	margin: 0 0 .5em 0;
}

.particles-js-canvas-el {
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #f5f5f5;
    z-index: 0;
}

.section .scroll-bar {
	opacity: 0;
}

.page {
    z-index: 10;
}

.services .box {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .box .box-icon {
	position: inherit;
	font-size: 4em;
	margin-bottom: 15px;
}

.services .box .box-title {
	text-align: center;
}

.quote {
	text-align: center;
    font-style: italic;
}

.schedule-title {
	cursor: pointer;
}

.menu-trigger:before {
	display: none !important;
}

.menu-trigger {
	border-bottom: none !important;
	height: auto !important;
}

.menu-trigger:after {
	display: none !important;
}

@media (max-width: 1200px) {
	.menu-trigger {
	    display: flex !important;
	    align-items: center;
	    justify-content: center;
	    background: rgba(255, 255, 255, 0.5) !important;
	    border-radius: 50px !important; 
	    padding: 10px;
	    width: 50px;
	    right: 15px !important;
	    top: 15px !important;
	}

	.menu-wrapper {
	    display: flex !important;
	    align-items: center;
	    justify-content: center;
	}
}

.social-item a {
	margin-right: 6px !important;
}

figure.featured-image {
	margin: 1em 0;
}

.featured-image img {
	width: 100%;
}

.featured-image figcaption {
	padding-top: 5px;
    padding-left: 20px;
    font-size: 0.7rem;
    color: #71778c;
}

.number-value {
	margin-bottom: 10px;
	font-size: 40px;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 280px;
}

.number-value:after, .number-value:before {
	display: none;
}

.number-title {
	font-size: 40px;
    font-size: 15px;
}

.objective-bg-video {
	width: 100%;
}

.objective-text {
	position: absolute;
    top: 0;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.objective-video-container {
	    position: relative;
}

.profile {
	> .menu-close-icon {
		display: none;
	}
}

.number {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 190px;

	> .number-value {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		min-height: 80px;
		width: 100%;
	}
}

.profile-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
	> .menu-close-icon {
		display: block;
	}
}

@media screen and (max-width: 426px) {
	.services .box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0 25px;
	}

	.profile-name {
		> .menu-close-icon {
			display: none;
		}
	}

	.personal-information-col:last-child {
	    padding-left: 65px;
	}

	.personal-information-col:first-child {
	    width: 65px;
	}
	
	.number {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		min-height: 140px;
		padding: 10px;
	}

	.objective-text {
		padding: 30px 50px;
	    position: static;
	}

	.objective-bg-video {
		display: none;
	}

	.menu-wrapper.active .profile-photo {
		width: 35%;
	}
	.menu-back {
	   width: 80%;
	}
	.menu-close-icon {
		display: block !important;
		right: 0px;
	    top: -5px;
	    position: absolute;
	    padding: 15px;
	    z-index: 10;
	}

}